@using AdotaPet.Controllers
@model IEnumerable<AdotaPet.ViewModels.AnuncioInteracaoViewModel>


@{
    ViewData["Title"] = "Anúncios";
}

<h1>Favoritos</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Anuncio.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anuncio.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anuncio.CategoriaAnimal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anuncio.RacaAnimal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anuncio.IdadeAnimal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Anuncio.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Anuncio.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Anuncio.CategoriaAnimal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Anuncio.RacaAnimal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Anuncio.IdadeAnimal)
                </td>
                <td>
                    <a asp-action="Edit" asp-controller="Anuncios" asp-route-id="@item.Anuncio.Id">Editar</a> |
                    <a asp-action="Details" asp-controller="Anuncios" asp-route-id="@item.Anuncio.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-controller="Anuncios" asp-route-id="@item.Anuncio.Id">Apagar</a> |
                    <a asp-action="Like" asp-route-id="@item.Anuncio.Id">
                        @(item.TemLike ? "Remover curtida" : "Curtir")

                    </a>

                </td>
            </tr>
        }
    </tbody>
</table>
