@using AdotaPet.Controllers
@using System.Security.Claims
@model IEnumerable<AdotaPet.ViewModels.AnuncioInteracaoViewModel>


@{
    ViewData["Title"] = "Anúncios";
}

<h1>Anúncios</h1>

@if(User.Identity.IsAuthenticated){
    <p>
        <a asp-action="Create" class="btn btn-success">Criar novo Anúncio</a>
    </p>
}
<table class="table">
    <thead> 
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Anuncio.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anuncio.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anuncio.CategoriaAnimal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anuncio.RacaAnimal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anuncio.IdadeAnimal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Anuncio.Titulo)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Anuncio.Descricao)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Anuncio.CategoriaAnimal)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Anuncio.RacaAnimal)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Anuncio.IdadeAnimal)
            </td>
            <td>
                    @if (User.FindFirst(ClaimTypes.NameIdentifier)?.Value == @item.Anuncio.UsuarioId.ToString())
                    {
                        <div>
                            <a asp-action="Edit" asp-route-id="@item.Anuncio.Id" class="btn btn-primary">Editar</a> |
                        </div>
                    }
                    <a asp-action="Details" asp-route-id="@item.Anuncio.Id" class="btn btn-warning">Detalhes</a> |
                    @if (User.FindFirst(ClaimTypes.NameIdentifier)?.Value == @item.Anuncio.UsuarioId.ToString())
                    {
                        <div>
                            <a asp-action="Delete" asp-route-id="@item.Anuncio.Id" class="btn btn-danger">Apagar</a> |
                        </div>
                    }
                    
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div>
                            <a asp-action="Like" asp-route-id="@item.Anuncio.Id">
                                @(item.TemLike ? "Remover curtida" : "Curtir")
                            </a>
                        </div>
                    }

            </td>
        </tr>
}
    </tbody>
</table>
